<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.device.business.checkManager.dao.mapper.CheckManageMapper">
	<select id="queryPd" parameterType="com.device.business.checkManager.bean.CheckManageBean"
	resultType="com.device.business.assetManage.bean.AssetBean">
		select
		b.fanumber , b.id, faclassification, fagnumber, faname,
		famodel, famanufacturer, faamount, fauom, b.fafnum,
		fameasure,to_char(faarrivedate, 'yyyy-mm-dd') faarrivedate, to_char(faaccountdate, 'yyyy-mm-dd') faaccountdate , fauseage, fadeprection,
		fafr, fatov, favalue, fagm, fadfu,
		fausestate, fadept, fauser, faremarks, status,
		DEVICETYPE, CPUTYPE, CLOCKSPEED, RAM, HARDDISK,
		MONITOR, KEYBOARD, MOUSE,
		HTEL, HCONTRACT, HWUYE, HQUALITY, HSTRUCTURE,
		to_char(HCOMPLETEDATE, 'yyyy-mm-dd') HCOMPLETEDATE,HTYPE, HSIZE, HLANDSIZE, HPURPOSE,
		HLANDPROPERTY,HEATTYPE, HBLAYER, HLAYER, HCQNUM,
		HFORM, HNAME, HBSIZE,
		CARVALIDATEM2,CARTYPE, MILEAGE, CARFRAME,to_char(CARPDATE, 'yyyy-mm-dd') CARPDATE,
		to_char(CAREXPIREDDATE, 'yyyy-mm-dd') CAREXPIREDDATE,to_char(CARUPDATEDATE, 'yyyy-mm-dd') CARUPDATEDATE, 
		CARSEAT, OILTYPE, CARCC,
		CARVALIDATEM1,CARENGINE, CARNUM,
		FAPOF,FABUYER,FACONTRACT,FASUPPLIER,
		FASUPPLIERTEL,to_char(FAPDATE, 'yyyy-mm-dd') FAPDATE,FAINVOICENUMBER,
		FAADN,FAREPORT,
		to_char(CHECKDATE, 'yyyy-mm-dd') CHECKDATE,CHECKER,c.FAFNUM cfafnum,to_char(ALLCOVERDATE, 'yyyy-mm-dd') ALLCOVERDATE,CHECKRESULT,
		FAAREA,CHECKREMARK,
		to_char(FAFIRSTMEASURE, 'yyyy-mm-dd') FAFIRSTMEASURE, RETESTPERIOD,to_char(LASTTESTDATE, 'yyyy-mm-dd') LASTTESTDATE,
		pd.pdresult, pd.pdname, to_char(pddate, 'yyyy-mm-dd') pddate, pd.remark 
		from
		t_fixedasset_basic b 
		left join t_fixedasset_computer d on b.FANUMBER = d.FANUMBER 
		left join t_fixedasset_house h on b.FANUMBER=h.FANUMBER
		left join t_fixedasset_vehicle v on b.FANUMBER = v.FANUMBER
		left join t_fixedasset_purchase p on b.fanumber = p.fanumber
		left join t_fixedasset_check c on b.fanumber = c.fanumber 
		left join t_property_pd pd on b.fanumber = pd.fanumber
		where 1=1 
		<if test="fanumber != null and fanumber != ''">
     		and b.fanumber = #{fanumber}
     	</if>
		<if test="pdname != null and pdname != ''">
     		and pd.pdname like #{pdname}
     	</if>
     	<if test="pdresult != null and pdresult != ''">
     		and pd.pdresult = #{pdresult}
     	</if>
     	<if test="yearfrom != null and yearfrom != ''">
     		and pd.pddate >= to_date(#{yearfrom},'yyyy-mm-dd') 
			and to_date(#{yearto},'yyyy-mm-dd') >= pd.pddate
     	</if>
	</select>
	
	<select id="countPd" parameterType="com.device.business.checkManager.bean.CheckManageBean"
	resultType="java.lang.Integer">
		select
			count(*)
		from 
		(
			select
		b.fanumber , b.id, faclassification, fagnumber, faname,
		famodel, famanufacturer, faamount, fauom, b.fafnum,
		fameasure,to_char(faarrivedate, 'yyyy-mm-dd') faarrivedate, to_char(faaccountdate, 'yyyy-mm-dd') faaccountdate , fauseage, fadeprection,
		fafr, fatov, favalue, fagm, fadfu,
		fausestate, fadept, fauser, faremarks, status,
		DEVICETYPE, CPUTYPE, CLOCKSPEED, RAM, HARDDISK,
		MONITOR, KEYBOARD, MOUSE,
		HTEL, HCONTRACT, HWUYE, HQUALITY, HSTRUCTURE,
		to_char(HCOMPLETEDATE, 'yyyy-mm-dd') HCOMPLETEDATE,HTYPE, HSIZE, HLANDSIZE, HPURPOSE,
		HLANDPROPERTY,HEATTYPE, HBLAYER, HLAYER, HCQNUM,
		HFORM, HNAME, HBSIZE,
		CARVALIDATEM2,CARTYPE, MILEAGE, CARFRAME,to_char(CARPDATE, 'yyyy-mm-dd') CARPDATE,
		to_char(CAREXPIREDDATE, 'yyyy-mm-dd') CAREXPIREDDATE,to_char(CARUPDATEDATE, 'yyyy-mm-dd') CARUPDATEDATE, 
		CARSEAT, OILTYPE, CARCC,
		CARVALIDATEM1,CARENGINE, CARNUM,
		FAPOF,FABUYER,FACONTRACT,FASUPPLIER,
		FASUPPLIERTEL,to_char(FAPDATE, 'yyyy-mm-dd') FAPDATE,FAINVOICENUMBER,
		FAADN,FAREPORT,
		to_char(CHECKDATE, 'yyyy-mm-dd') CHECKDATE,CHECKER,c.FAFNUM cfafnum,to_char(ALLCOVERDATE, 'yyyy-mm-dd') ALLCOVERDATE,CHECKRESULT,
		FAAREA,CHECKREMARK,
		to_char(FAFIRSTMEASURE, 'yyyy-mm-dd') FAFIRSTMEASURE, RETESTPERIOD,to_char(LASTTESTDATE, 'yyyy-mm-dd') LASTTESTDATE
		from
		t_fixedasset_basic b 
		left join t_fixedasset_computer d on b.FANUMBER = d.FANUMBER 
		left join t_fixedasset_house h on b.FANUMBER=h.FANUMBER
		left join t_fixedasset_vehicle v on b.FANUMBER = v.FANUMBER
		left join t_fixedasset_purchase p on b.fanumber = p.fanumber
		left join t_fixedasset_check c on b.fanumber = c.fanumber 
		left join t_property_pd pd on b.fanumber = pd.fanumber
		where 1=1 
		<if test="fanumber != null and fanumber != ''">
     		and b.fanumber = #{fanumber}
     	</if>
		<if test="pdname != null and pdname != ''">
     		and pd.pdname like #{pdname}
     	</if>
     	<if test="pdresult != null and pdresult != ''">
     		and pd.pdresult = #{pdresult}
     	</if>
     	<if test="yearfrom != null and yearfrom != ''">
     		and pd.pddate >= to_date(#{yearfrom},'yyyy-mm-dd') 
			and to_date(#{yearto},'yyyy-mm-dd') >= pd.pddate
     	</if>
     	)
	</select>
	
	<select id="countProperty" resultType="java.lang.Integer">
		select
			count(p.id)
		from (
			select id,faname,faclassification,fadivision,fauser from T_FIXEDASSET_BASIC a
		    union all
		    select id,faname,faclassification,fadivision,fauser from T_FIXEDASSET_INSTRUMENT b
		    union all
		    select id,faname,faclassification,fadivision,fauser from T_FIXEDASSET_HOUSEHOLD c 
		)p
	</select>
	
	<insert id="addPd" statementType="PREPARED">
		insert into t_property_pd
		(
			id,
			FANUMBER,
			PDRESULT,
			pdname,
			PDDATE,
			remark
		)
		values
		(
			#{id},
			#{fanumber},
			#{pdresult},
			#{pdname},
			to_date(#{pddate}, 'yyyy-mm-dd'),
			#{remark}
		)
	</insert>
	
	<update id="updPd" statementType="PREPARED">
		update t_property_pd
		 set PDRESULT = #{pdresult},
			 pdname = #{pdname},
			 PDDATE = to_date(#{pddate}, 'yyyy-mm-dd'),
			 remark = #{remark}
		where fanumber=#{fanumber}
	</update>
	
	<select id="isPdExist" resultType="java.lang.Integer">
		select
			count(*)
		from t_property_pd
		where fanumber= #{fanumber}
	</select>
	
</mapper>