<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.device.business.recordManager.dao.mapper.RecordReleaseMapper">
	<select id="query" parameterType="string" resultType="com.device.business.recordManager.bean.RecordReleaseBean">
		select
			id,
			record_type,
			record_name,
			record_code,
			record_use_scope,
			record_use_date,
			record_release_scope,
			record_examine_date,
			examine_user,
			record_release_date,
			release_user,
			record_implement_date,
			remark,
			establish_user,
			status
		from t_record_release
		where delete_flag=1
		<if test="searchName!=null and searchName!='' ">and record_name like #{searchName}</if>
	</select>
	
	<select id="load" parameterType="string" resultType="com.device.business.recordManager.bean.RecordReleaseBean">
		select
			id,
			record_type,
			record_name,
			record_code,
			record_use_scope,
			record_use_date,
			record_release_scope,
			record_examine_date,
			examine_user,
			record_release_date,
			release_user,
			record_implement_date,
			remark,
			establish_user,
			status
		from t_record_release
		where id = #{id}
	</select>
	
	<select id="count" parameterType="string"
		resultType="Integer">
		select
			count(id)
		from t_record_release
		where  delete_flag=1  
		<if test="searchName!=null and searchName!='' ">and record_name like #{searchName}</if>
	</select>
	
	<insert id="add" parameterType="com.device.business.recordManager.bean.RecordReleaseBean" statementType="PREPARED">
		insert into t_record_release
		(
			id,
			record_type,
			record_name,
			record_code,
			record_use_scope,
			record_use_date,
			record_release_scope,
			record_examine_date,
			examine_user,
			record_release_date,
			release_user,
			record_implement_date,
			remark,
			establish_user,
			status,
			delete_flag
		)
		values
		(
			#{bean.id},
			#{bean.record_type},
			#{bean.record_name},
			#{bean.record_code},
			#{bean.record_use_scope},
			#{bean.record_use_date},
			#{bean.record_release_scope},
			#{bean.record_examine_date},
			#{bean.examine_user},
			#{bean.record_release_date},
			#{bean.release_user},
			#{bean.record_implement_date},
			#{bean.remark},
			#{bean.establish_user},
			#{bean.status},
			#{bean.delete_flag}
		)
	</insert>
	
	<update id="update" parameterType="com.device.business.recordManager.bean.RecordReleaseBean" statementType="PREPARED">
		update t_record_release set
			record_type = #{bean.record_type},
				record_name = #{bean.record_name},
					record_code = #{bean.record_code},
						record_use_scope = #{bean.record_use_scope},
							record_use_date = #{bean.record_use_date},
								record_release_scope = #{bean.record_release_scope},
									record_examine_date = #{bean.record_examine_date},
										examine_user = #{bean.examine_user},
											record_release_date = #{bean.record_release_date},
												release_user = #{bean.release_user},
													record_implement_date = #{bean.record_implement_date},
														remark = #{bean.remark},
															establish_user = #{bean.establish_user},
																status = #{bean.status}
		where id = #{bean.id}
	</update>
	
	<delete id="delete" parameterType="string" statementType="PREPARED">
		delete from t_record_release where id =#{id}
	</delete>
</mapper>