@CHARSET "UTF-8";

.icon-module_2 {
    background-image: url( ../module/2.png ) !important;
}
.icon-module_4 {
    background-image: url( ../module/4.png ) !important;
}
.icon-module_1 {
    background-image: url( ../module/1.png ) !important;
}


.icon-module_21 {
    background-image: url( ../module/21.png ) !important;
}
.icon-module_22 {
    background-image: url( ../module/22.png ) !important;
}
.icon-module_31 {
    background-image: url( ../module/31.png ) !important;
}
.icon-module_24 {
    background-image: url( ../module/24.png ) !important;
}
.icon-module_25 {
    background-image: url( ../module/25.png ) !important;
}
.icon-module_41 {
    background-image: url( ../module/41.png ) !important;
}
.icon-module_11 {
    background-image: url( ../module/11.png ) !important;
}
.icon-module_12 {
    background-image: url( ../module/12.png ) !important;
}
.icon-module_13 {
    background-image: url( ../module/13.png ) !important;
}
.icon-module_14 {
    background-image: url( ../module/14.png ) !important;
}
.icon-module_15 {
    background-image: url( ../module/15.png ) !important;
}
.icon-module_16 {
    background-image: url( ../module/16.png ) !important;
}



.icon-module_211 {
    background-image: url( ../module/211.png ) !important;
}
.icon-module_212 {
    background-image: url( ../module/212.png ) !important;
}
.icon-module_213 {
    background-image: url( ../module/213.png ) !important;
}
.icon-module_214 {
    background-image: url( ../module/214.png ) !important;
}


.icon-module_221 {
    background-image: url( ../module/221.png ) !important;
}
.icon-module_222 {
    background-image: url( ../module/222.png ) !important;
}
.icon-module_223 {
    background-image: url( ../module/223.png ) !important;
}
.icon-module_224 {
    background-image: url( ../module/224.png ) !important;
}

.icon-module_311 {
    background-image: url( ../module/311.png ) !important;
}
.icon-module_312 {
    background-image: url( ../module/312.png ) !important;
}
.icon-module_313 {
    background-image: url( ../module/313.png ) !important;
}
.icon-module_314 {
    background-image: url( ../module/314.png ) !important;
}

.icon-module_241 {
    background-image: url( ../module/241.png ) !important;
}
.icon-module_242 {
    background-image: url( ../module/242.png ) !important;
}
.icon-module_243 {
    background-image: url( ../module/243.png ) !important;
}
.icon-module_244 {
    background-image: url( ../module/244.png ) !important;
}
.icon-module_245 {
    background-image: url( ../module/245.png ) !important;
}

.icon-module_251 {
    background-image: url( ../module/251.png ) !important;
}
.icon-module_252 {
    background-image: url( ../module/252.png ) !important;
}

.icon-module_26 {
    background-image: url( ../module/26.png ) !important;
}
.icon-module_261 {
    background-image: url( ../module/261.png ) !important;
}
.icon-module_262 {
    background-image: url( ../module/262.png ) !important;
}
.icon-module_27 {
    background-image: url( ../module/27.png ) !important;
}
.icon-module_271 {
    background-image: url( ../module/271.png ) !important;
}
.icon-module_272 {
    background-image: url( ../module/272.png ) !important;
}
.icon-module_411 {
    background-image: url( ../module/411.png ) !important;
}
.icon-module_412 {
    background-image: url( ../module/412.png ) !important;
}
.icon-module_413 {
    background-image: url( ../module/413.png ) !important;
}
.icon-module_414 {
    background-image: url( ../module/414.png ) !important;
}
.icon-module_415 {
    background-image: url( ../module/415.png ) !important;
}

.icon-module_51 {
    background-image: url( ../module/51.png ) !important;
}

.icon-module_52 {
    background-image: url( ../module/52.png ) !important;
}

.icon-module_61 {
    background-image: url( ../module/61.png ) !important;
}
.icon-module_62 {
    background-image: url( ../module/62.png ) !important;
}
.icon-module_63 {
    background-image: url( ../module/63.png ) !important;
}
.icon-module_64 {
    background-image: url( ../module/64.png ) !important;
}
.icon-module_65 {
    background-image: url( ../module/65.png ) !important;
}
.icon-module_66 {
    background-image: url( ../module/66.png ) !important;
}
.icon-module_67 {
    background-image: url( ../module/67.png ) !important;
}
.icon-module_68 {
    background-image: url( ../module/68.png ) !important;
}
.icon-module_69 {
    background-image: url( ../module/69.png ) !important;
}

.x-grid-record-red {
	background-color:#ef4136
}
.x-grid-record-orange {
	background-color:#f58220
}
.x-grid-record-yellow {
	background-color:#ffe600
}
.x-grid-record-blue{
	background-color:#0000FF
}
