<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet"	href="../../component/bootstrap/bootstrap.min.css">
    <link rel="stylesheet"	href="../../component/bootstrap/layoutit.css">
    <link rel="stylesheet"	href="../../component/bootstrap/bootstrap-combined.min.css">
    <link rel="stylesheet"	href="../../component/jquery-easyui-1.4.2/themes/icon.css">

    <script src="../../component/jquery/jquery.mini.js"></script>
    <script src="../../component/bootstrap/bootstrap.min.js"></script>
    <script src="../../component/echarts/echarts.min.js"></script>
    <script src="../../component/angularjs/angular.js"></script>
    <script src="../../component/layer/layer.js"></script>
    <script src="../../component/util.js"></script>
    <script src="chartPrint.js"></script>

    <title></title>
    <style>
  	  .row-fluid {
  	    background-color: #FFFFFF;
  	    width: 100%;
  	  }
      .panel-default {
          border-color: #000;
      }
      .input-group-addon{
        padding-right: 6px;
        padding-left: 6px;
      }

    </style>
</head>
<body style=""  ng-app="pileMoniter" ng-controller="pileCtrl">
  <div class="panel panel-default" ng-repeat="record in records track by record.pileNumber" repeat-done="layoutDone()">
    <div class="panel-body">
      <div class="container-fluid">
      	<div class="row-fluid">
      		<div class="span12">
            <div class="row">
              <div class="col-lg-2">
                <div class="input-group">
                  <span class="input-group-addon">桩机</span>
                  <input type="text" class="form-control" style="height: 30px;" ng-model="record.pileDriverNumber">
                </div>
              </div>
              <div class="col-lg-2">
                <div class="input-group">
                  <span class="input-group-addon">桩号</span>
                  <input type="text" class="form-control" style="height: 30px;" ng-model="record.pileNumber">
                </div>
              </div>
              <div class="col-lg-2">
                <div class="input-group">
                  <span class="input-group-addon">桩长</span>
                  <input type="text" class="form-control" style="height: 30px;" ng-model="record.pileLength">
                  <span class="input-group-addon">m</span>
                </div>
              </div>

              <div class="col-lg-2">
                <div class="input-group">
                  <span class="input-group-addon">开始时间</span>
                  <input type="text" class="form-control" style="height: 30px;" ng-model="record.startTime">
                </div>
              </div>
              <div class="col-lg-2">
                <div class="input-group">
                  <span class="input-group-addon">喷浆时间</span>
                  <input type="text" class="form-control" style="height: 30px;" ng-model="record.gunitingSecond">
                </div>
              </div>
              <div class="col-lg-2">
	            <div class="input-group">
	              <span class="input-group-addon">垂直度</span>
	              <input type="text" class="form-control" style="height: 30px;" ng-model="record.lean">
	              <span class="input-group-addon">%</span>
	            </div>
	          </div>
            </div>

            <div class="row">
              <div class="col-lg-2">
                <div class="input-group">
                  <span class="input-group-addon">累计浆量</span>
                  <input type="text" class="form-control" style="height: 30px;" ng-model="record.totalLiquid">
                  <span class="input-group-addon">L</span>
                </div>
              </div><!-- /.col-lg-6 -->
              <div class="col-lg-2">
                <div class="input-group">
                  <span class="input-group-addon">累计灰量</span>
                  <input type="text" class="form-control" style="height: 30px;" ng-model="record.totalCement">
                  <span class="input-group-addon">Kg</span>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="input-group">
                  <span class="input-group-addon">密度</span>
                  <input type="text" class="form-control" style="height: 30px;" ng-model="record.density">
                  <span class="input-group-addon">g/cm3</span>
                </div>
              </div>

              <div class="col-lg-2">
                <div class="input-group">
                  <span class="input-group-addon">平均浆量</span>
                  <input type="text" class="form-control" style="height: 30px;" ng-model="record.averageLiquid">
                  <span class="input-group-addon">L/m</span>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="input-group">
                  <span class="input-group-addon">平均灰量</span>
                  <input type="text" class="form-control" style="height: 30px;" ng-model="record.averageCement">
                  <span class="input-group-addon">Kg/m</span>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="input-group">
                  <span class="input-group-addon">打桩状态</span>
                  <input type="text" class="form-control" style="height: 30px;" ng-model="record.status">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-2">
                <div class="input-group">
                  <span class="input-group-addon">最大钻速</span>
                  <input type="text" class="form-control" style="height: 30px;" ng-model="record.maxSpeed">
                  <span class="input-group-addon">cm/min</span>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="input-group">
                  <span class="input-group-addon">最大外电流</span>
                  <input type="text" class="form-control" style="height: 30px;" ng-model="record.maxOutsidePower">
                  <span class="input-group-addon">A</span>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="input-group">
                  <span class="input-group-addon">最大内电流</span>
                  <input type="text" class="form-control" style="height: 30px;" ng-model="record.maxInsidePower">
                  <span class="input-group-addon">A</span>
                </div>
              </div>
              <div class="col-lg-2">
	          	<div class="input-group">
	              <span class="input-group-addon">外钻杆电流</span>
	              <input type="text" class="form-control" style="height: 30px;" ng-model="record.outsidePower">
	              <span class="input-group-addon">A</span>
	            </div>
	          </div><!-- /.col-lg-6 -->
	          <div class="col-lg-2">
	            <div class="input-group">
	              <span class="input-group-addon">内钻杆电流</span>
	              <input type="text" class="form-control" style="height: 30px;" ng-model="record.insidePower">
	              <span class="input-group-addon">A</span>
	            </div>
	          </div>
            </div>

            <div class="row">
            <div class="col-lg-2">
              <div class="input-group">
                <span class="input-group-addon">深度</span>
                <input type="text" class="form-control" style="height: 30px;" ng-model="record.deepth">
                <span class="input-group-addon">m</span>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="input-group">
                <span class="input-group-addon">速度</span>
                <input type="text" class="form-control" style="height: 30px;" ng-model="record.speed">
                <span class="input-group-addon">cm/min</span>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="input-group">
                <span class="input-group-addon">流量</span>
                <input type="text" class="form-control" style="height: 30px;" ng-model="record.flow">
                <span class="input-group-addon">L/min</span>
              </div>
            </div>

            <div class="col-lg-2">
              <div class="input-group">
                <span class="input-group-addon">前后倾角</span>
                <input type="text" class="form-control" style="height: 30px;" ng-model="record.frontBackAngle">
                <span class="input-group-addon">Deg</span>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="input-group">
                <span class="input-group-addon">左右倾角</span>
                <input type="text" class="form-control" style="height: 30px;" ng-model="record.leftRightAngle">
                <span class="input-group-addon">Deg</span>
              </div>
            </div>
          </div>

        

      	</div>
      	</div>
        <div class="row-fluid">
      		<div id="{{record.chart1}}" class="span3" style="height:250px">
      		</div>
      		<div id={{record.chart2}} class="span3" style="height:250px">
      		</div>
      		<div id={{record.chart3}} class="span3" style="height:250px">
      		</div>
      		<div id={{record.chart4}} class="span3" style="height:250px">
      		</div>
      	</div>
      </div>

    </div>
  </div>

  <script src="app.js"></script>
</body>
</html>
